html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Niramit', sans-serif;
}

a {
    color: #7d97ad;
}

header {
    border-bottom: 5px solid #7d97ad;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.big_pic {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    color: #2d3c49;
    padding-bottom: 50px;
}

#name {
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    font-size: 55px;
    color: #2d3c49;
}

#bio {
    text-align: center;
    font-size: 18px;
    border-bottom: 5px solid #7d97ad;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
}

#feat_work {
    color: #7d97ad;
}

@media screen and (min-width: 769px) {

    .container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        text-align: right;
        width: 100%;
        height: auto;
    }

    #logo {
        float: left;
        max-width: 100%;
        max-height: 150px;
        padding-left: 5px;
    }

    .feature_pic {
        width: 100%;
        height: 250px;
    }

    .games {
        width: 31%;
    }
    
    .writing {
        width: 31%;
    }

    .conceptart {
        width: 31%;
    }

    #nightPic {
        max-width: 100%;
    }
}

@media screen and (min-width:361px) and (max-width: 768px) {

    .container {
        width: 100%;
    }

    #logo {
        max-width: 100%;
        max-height: 100px;
    }

    header {
        text-align: center;
        width: 100%;
        height: auto;
    }

    #name {
        font-size: 40px;
    }

    #nightPic {
        width: 760px;
    }
    
    .feature_pic {
        width: 100%;
        height: 160px;
    }

    .games {
        width: 31%;
    }

    .writing {
        width: 31%;
    }

    .conceptart {
        width: 31%;
    }
}

@media screen and (max-width: 360px) {

    .container {
        width: 100%;
    }

    #logo {
        max-width: 100%;
        max-height: 90px;
    }

    header {
        text-align: center;
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 28px;
    }
    
    #name {
        font-size: 48px;
    }

    .big_pic {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    #feat_work {
        text-align: center;
    }

    #nightPic {
        width: 360px;
    }

    .feature_pic {
        width: 100%;
        height: 180px;
    }

    .games {
        width: 100%;
    }

    .writing {
        width: 100%;
    }
    
    .conceptart {
        width: 100%;
    }
}